<h1>burgers 0/1</h1>

{{!-- <ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        {{#if hello}}
        <h2>false</h2>
        <p>ID# {{id}}</p>
        <p>Name {{burger_name}}</p>
        <p>Status {{devoured}}</p>
        {{else}}
        <h2>true</h2>
        <p>ID# {{id}}</p>
        <p>Name {{burger_name}}</p>
        <p>Status {{devoured}}</p>
        {{/if}}
    </li>
    {{/unless}}
    {{/each}}
</ul> --}}


<h2>0</h2>
<ul>
  {{#each burgers}}
  {{#unless devoured}}
  {{> TF devoured=false}}
  {{/unless}}
  {{/each}}
</ul>

<h2>1</h2>

<ul>
  {{#each burgers}}
  {{#if devoured}}
  {{> TF devoured=true}}
  {{/if}}
  {{/each}}
</ul>


<h2>Add Burger</h2>
<form class = "addburger">
<input type = "text" id = "newburger" name="name">
<button type = "submit">YUM!</button>
</form>